.form__container{
    margin: 5vh 0;
}

.form {
    background-color: #FFFFFF;
    padding: 20px 30px;
    max-width: 380px;
    width: 100%;
    margin: 0 auto;
    border-radius: 8px;
}

.input__container{
    margin: 12px auto;
    width: 100%;
    padding: 8px;
}

.input__container label {
    cursor: default;
    display: block;
}

.input__container input{
    display: block;
    width: 100%;
    border: none;
    border-bottom: .5px solid #727375;
    padding: 10px 0 5px;
    outline: none;
}

.botoes input{
    background-color: #5A4FBE;
    padding: 2px 9px;
    margin-bottom: 12px;
    border: 0px;
}

.input value{
    font-size:15px #ffffff;
}
