/* CSS para a parte de responsividade */

/* Extra Small devices (landscape phones, 576px and up) */
@media (min-width: 320px) {
    .main {
        margin: 0 0.75rem;
    }

    .partners__images {
        height: 25vw;
        width: 25vw;
        padding: 2vw;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .main {
        margin: 0 1rem;
    }

    .partners__images {
        height: 19vw;
        width: 19vw;
        padding: 2vw;
    }

    .form {
        max-width: 420px;
    }

    .circle__one {
        right: 125px;
        top: 75px;
    }

    .circle__two {
        left: 125px;
        bottom: 150px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .partners__images {
        height: 22vw;
        width: 22vw;
        padding: 3vw;
    }

    .form {
        max-width: 480px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .main {
        margin: 0 2rem;
    }

    .partners__images {
        height: 15vw;
        width: 15vw;
        padding: 1vw;
    }

    .form {
        max-width: 420px;
    }
}

/* Responsividade em dispositivos menores. #paratodosverem */

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .main {
        margin: 0 3rem;
    }

    .partners__images {
        height: 16vw;
        width: 16vw;
        padding: 2vw;
    }

    aside {
        padding: 0 0 0 0.75rem !important;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .partners__images {
        max-height: 400px;
        max-width: 400px;
        height: 18vw;
        width: 18vw;
        padding: 4vw;
    }
}