/* CSS para os padroes */
* {
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
}

body {
    zoom: 4;
} <!--Zoom. #paratodosverem-->

.imagens {
    height:30px;
    width:30px;
    padding: 10px;
    display: flex;
}

title{
    font-size: 40px;
    font-style: ;
}
