/* CSS para os padroes */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', Verdana, Tahoma, sans-serif;
}

h1,h2,h3 {
    font-family: 'Oswald', Verdana, sans-serif;
}
/* CSS para as tags do HTML */

body {
    width: 100vw;
    color: #3B405F; <!--Cores simples #paratodosverem-->
}

header {
    padding: 48px 24px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffbb5cce;
    color: #5A4FBE;
}

h1 {
    font-size: 48pt; 
    font-weight: 900;
    letter-spacing: 1px;
}

h2 {
    font-weight: 600;
}

footer {
    background-color: #6373CA; <!--Cores simples #paratodosverem-->
    color: #FAFAFA;
}

footer p {
    font-size: 18pt;
}

footer a {
    color: #FAFAFA;
    text-decoration: none;
}

footer a:hover {
    color: #FAFAFA;
    text-decoration: underline;
}

footer img{
    width: 100%;
    padding: 24px;
}
